---
url_ignition_file: https://your.site.example.com/pub/ocp42
download_url: https://raw.githubusercontent.com/ashcrow/filetranspiler/master/filetranspile
bios_image: http://your.site.example.com/pub/ocp42/bios/bios.raw.gz
append_url: http://your.site.example.com/pub/ocp42/append
iso_file: /path/to/rhcos-x.x.x-arch-installer.iso
paths:
  generic: "/etc"
  network: "/etc/sysconfig/network-scripts"
  ntp: "/etc"
  configs: "/configFiles"
  isos: "/isos"
nodes:
- hostname: "{{ bootstrap.name }}.{{  config.clusterName }}.{{  config.baseDomain }}"
  role: bootstrap
  install_device: "{{ install_device }}"
  create_iso: false
  interfaces:
  - name: "{{ interface_name }}"
    ip: "{{ bootstrap.ipaddr }}"
    cidr: "{{ cidr }}"
    gateway: "{{ gateway }}"
    dns:
    - "{{ dns_server }}"
    mtu: 1500
  ntp: "{{ ntp_server }}"
  templateIF: ifcfg-template.j2
  templateChrony: chrony.conf.j2
  templateAppend: append-template.j2
  templateIsolinux: isolinux.cfg.j2
{%  for master in masters %}
- hostname: "{{ master.name }}.{{ config.clusterName }}.{{  config.baseDomain }}"
  role: master
  install_device: "{{ install_device }}"
  create_iso: false
  interfaces:
  - name: "{{ interface_name }}"
    ip: "{{ master.ipaddr }}"
    cidr: "{{ cidr }}"
    gateway: "{{ gateway }}"
    dns:
    - "{{ dns_server }}"
    mtu: 1500
  ntp: "{{ ntp_server }}"
  templateIF: ifcfg-template.j2
  templateChrony: chrony.conf.j2
  templateAppend: append-template.j2
  templateIsolinux: isolinux.cfg.j2
{% endfor %}
{%  for worker in workers %}
- hostname: "{{ worker.name }}.{{ config.clusterName }}.{{ config.baseDomain }}"
  role: worker
  install_device: "{{ install_device }}"
  create_iso: false
  interfaces:
  - name: "{{ interface_name }}"
    ip: "{{ worker.ipaddr }}"
    cidr: "{{ cidr }}"
    gateway: "{{ gateway }}"
    dns:
    - "{{ dns_server }}"
    mtu: 1500
  ntp: "{{ ntp_server }}"
  templateIF: ifcfg-template.j2
  templateChrony: chrony.conf.j2
  templateAppend: append-template.j2
  templateIsolinux: isolinux.cfg.j2
{% endfor %}